@tailwind base;
@tailwind components;
@tailwind utilities;

/* MultiStepLoginForm.module.css */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  width: 300px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(100%);
}
